<!DOCTYPE html> 
<html lang="en"></html>
<head>
  <title>DevTips Starter Kit</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="./assets/img/favicons/favicon.ico"/>
  <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body>
  <div class="page-home">
    <section>
      <h1 class="page-title">DevTips<br>Starter Kit</h1>
      <p>Ground zero for your next project.    </p>
      <article>
        <h4>Watch the Video</h4>
        <p>Test   </p>
      </article>
    </section>
  </div>
  <script src="./vendors/jquery/dist/jquery.min.js"></script>
  <script src="./assets/js/app.js"></script>
</body>