<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  section    
    //header.main-header
    .wrapper
      header.header 
        .logo         
        .navbar             
          ul
            li: a(href="") Home 
            li: a(href="") About us
            li: a(href="") Portfolio  
            li: a(href="") Contact
      header.container     
        .column-right
                              
        .column-left
          h3
            | DIESE SEITE IST IN BEARBEITUNG        
          h2
            | Coming Soon
          h3
            | An dieser Seite wird gerade gearbeitet. Wir bitten um Ihr Verständniss und freuen uns auf Ihren Besuch zu einem späteren Zeitpunkt        
      article.main   
        p
           | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.     
      aside.aside.aside-1 Aside 1
      aside.aside.aside-2 Aside 2
      footer.footer       
        .footer-nav
          img(src="../assets/img/footer-logo.svg", alt="")
          nav
            ul
              li: a(href="") Facebook
              li: a(href="") Twitter
              li: a(href="") Google 
              li: a(href="") Behance 
              li: a(href="") Dripple
              li: a(href="") Instagram 
            p| Mese Selimovica 52, Banja Luka - BiH    
            p|(00387) 65 252 222
            p| info@mail.com
      .footer-end      
        p| @2015 Oxygen Theme  

      




//
    .content-scroll  
      .icon-scroll
  section
    article
      .wrapper
        .huge
          h2 About Us       
          p 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            | Maxime vel tempore blanditiis magnam repudiandae veritatis placeat atque eos. 
            | Explicabo consectetur facere sequi deserunt voluptatem dolorum similique quisquam placeat harum ea.
  section  
    article
      .wrapper
        form(action='#' method='post' name='sign up for beta form')
          .huge
            h2 Sign Up For Beta         
            p
              | Milkshake is almost ready. If you&apos;re interested in testing it out, then sign up below to get exclusive access.
          .input
            input#email.button(type='text' name='email' placeholder='NAME@EXAMPLE.COM')
            input#submit.button(type='submit' value='SIGN UP')
  
     
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
